<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635845792837-ph821s986mnvrupbf6usosq9rk4itb6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635845792837-ph821s986mnvrupbf6usosq9rk4itb6u</string>
	<key>API_KEY</key>
	<string>AIzaSyAwFH6TgKjOiHTYMcDrfgo0ZaXhAqV9wwA</string>
	<key>GCM_SENDER_ID</key>
	<string>635845792837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackdsc</string>
	<key>PROJECT_ID</key>
	<string>hackdsc-6da70</string>
	<key>STORAGE_BUCKET</key>
	<string>hackdsc-6da70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635845792837:ios:3f89040b4e736f0fb2bf2c</string>
	<key>DATABASE_URL</key>
	<string>https://hackdsc-6da70.firebaseio.com</string>
</dict>
</plist>